.decorated-zone {
  position: relative;
  /* остальные стили */
}

.decorated-zone::after {
  display: block;
  content: "";
  width: 25px;
  height: 25.04px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--accent-color);

  position: absolute;
  top: var(--decoration-padding);
  right: var(--decoration-padding);
}

.decorated-zone::before {
  display: block;
  content: "";
  width: 25px;
  height: 25.04px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--accent-color);
  position: absolute;
  bottom: var(--decoration-padding);
  left: var(--decoration-padding);
}