.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  min-height: 668px;
  padding-block-start: 10px;
}



.header__decoration-rec {
  justify-self: end;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: row;
  text-transform: uppercase;
  align-items: center;
  vertical-align: middle;
  color: var(--accent-color);
  width: 52px;
  height: 26px;
}

.header__decoration-rec::after {
  content: "";
  display: flex;
  width: 9px;
  height: 9px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);

}

.header__theme-menu {
  justify-self: end;
  align-self: center;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 98px;
  justify-content: space-between;
}

.header__theme-menu,
.header__theme-menu * {
  justify-self: end;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: var(--basic-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;

}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  padding-right: 13px;
  padding-left: 13px;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  justify-self: center;
  align-self: center;
  color: var(--violet-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--basic-font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  margin-bottom: 15px;

}

.header__description {
  justify-self: center;
  align-self: center;
  background-color: var(--background-marker-color);
  color: var(--dark-font-color);
  font-family: var(--basic-font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-bottom: 40px;
}