.main {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: 40px;
    padding-inline-start: var(--decoration-padding);
    padding-inline-end: var(--decoration-padding);
    gap: 50px;
}

.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

.section_title {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
    word-wrap: break-word;
    color: var(--section-title-color);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_title_alternative {
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0%;

}

.section_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
}

.card_article {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0%;
    color: var(--card-article-color);
}

.card_article a {
    text-shadow: 2px 2px 0 var(--link-shadow-color) !important;
    cursor: pointer;
}

.card_article a:focus {
    outline: none;
    border: none;
}

.card_article a:focus-visible {
    border: 1px solid var(--link_focus_color)
}

.card_article a:hover{
    border-bottom: 1px solid var(--card-article-color);
}



.card_gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}

.section:has(.card_gallery) {
    gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.section__gallery .section_content{
    gap: 10px;
}