.main {
    display: flex;
    flex-direction: column;
    margin-block-start: 30px;
    gap: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.section_title {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0%;
    word-wrap: break-word;
    color: var(--accent-color);
}

.card {}

.card_title {
    background-color: var(--accent-color);
    color: var(--dark-font-color);
    margin-block-end: 10px;
}

.card_title_alternative {
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0%;

}

.card_article {
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0%;
    color: var(--light-font-color);
}



.card_article a {
    text-shadow: 2px 2px 0 var(--marked-font-color) !important;
}