@media (width>=1024px) {
    :root {
        --decoration-padding: 20px;
    }

    .header {
        padding-inline-start: 0px;
        padding-inline-end: 20px;
    }

    .header__theme-menu {
        align-self: start;
        justify-self: center;
        margin-inline-start: 15px;
        margin-block-start: 10px;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        width: 230px;
        height: 26px;
        justify-content: space-between;
    }

    .header__description {
        width: 491px;
        margin-block-end: 85px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    /*=====================main==========================*/
    .main {
        margin-block-start: 61px;
        gap: 80px;
    }

    .section__concentration,
    .section_tooltips {
        display: grid;
        grid-template-columns: 1fr 2.09fr;
    }

    .section_content {
        gap: 20px;
    }

    .section__attention .section_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .section__attention .section_title {
        inline-size: 312px;
    }



    .section__gallery .section_content {
        gap: 20px;
    }

    .card_gallery {
        grid-template-columns: 229fr 230fr 229fr;
        grid-template-rows: 192fr 230fr 318fr;
        gap: 20px;
    }

    .card_gallery .img_sunset {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .card_gallery .img_icecream {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .card_gallery .img_tape {
        grid-column: 1 / auto;
        grid-row: 2 / 4;
    }

    .card_gallery .img_street {
        grid-column: 2 / 4;
        grid-row: 3 / auto;
    }

    /*=====================footer==========================*/

    .footer {
        margin-block-start: 60px;
    }

    .footer_label {
        font-weight: 700;
        font-style: Bold;
        font-size: 157px;
        line-height: 83%;
        letter-spacing: 0%;
    }
}


@media (1024> width>=768px) {}