/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--header-background-image);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
 
}


.title-decor{
  background-color: var(--background-marker-color);
  color: var(--dark-font-color);
  font-family: var(--basic-font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}