/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --page-background-image: none; /*url("../images/ice-cream.png");*/
  --page-background-color: red;
  --header-background-image: url("../images/cover-image-dark.png");


  
  --violet-color: #DB00FF;
  --accent-color: #FF0070;

  --background-marker-color: #FF0070;

  --dark-font-color: #000028;
  --light-font-color: #F1B2CE;
  --marked-font-color: #FF0070;

  --basic-font-family: "IBM Plex Mono", sans-serif;
}